{% if pages %}
<ul>
    {% for page in pages %}
    <li><a href="{% url 'rango:goto' %}?page_id={{page.id}}">{{ page.title }}</a>
        {% if page.views > 1%}
        <span class="label label-info">{{page.views }} views</span>
        {% elif page.views == 1 %}
        <span class="label label-info">{{ page.views }} view</span>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<p>

    <strong id="like_count">{{ category.likes }}</strong> people like this category

    {% if user.is_authenticated %}
    <button id="likes" data-catid="{{category.id}}" class="btn btn-primary" type="button">
        <span class="glyphicon glyphicon-thumbs-up"></span>
        Like
    </button>
    {% endif %}

</p>
{% else %}
<strong>No pages currently in category.</strong>
{% endif %}